.barLabel {
    height:30px;
    width: 100%;

    text-align: center;

    font {
        size: 27px;
        family: Helvetica, Arial, Sans-serif
    }
    color: rgb(130, 130, 130);

    position: absolute;
    bottom: -35px;


}
