.numberPane {
    display: inline-block;
    width: 100px;
    height: 500px;

    position: absolute;
}

.numberPane__item {
    width: 100%;
    text-align: right;

    border-bottom: 1px solid $lightGrey;

    position: absolute;
    bottom:0;
}
